body {
    background: #C0C0C0 !important;
    border: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}
.card-header{
    border-bottom: 1px solid rgb(0,0,0);
}
.mr-2{
    margin-right: 0px !important;
}
.navbar{
    margin: 0px;
    padding: 0px;
}
.nav-back{
    color: #000;
}
.boderTable {
    box-shadow: 1px 1px #888888;
    border-color:  #191612;
}
.colorGelo{
    background-color: #f5f6fa;
}
.nav-item{
    padding: 10px;
    margin: auto;
}
.title-Grafico  {
    border:1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.list-group-item-danger {
    color: #721c24 !important;
    background-color: #f5c6cb !important;
}
.list-group-item-info {
    color: #0c5460 !important;
    background-color: #bee5eb !important;
}